<div *ngIf="notify" class="alert alert-success container marge">
    {{ notify }}
</div>
<p class="container">home page!</p>




<!-- <nav class="nav navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color:aliceblue;"> Logo</h1>
        <div class="d-flex">
          <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>
        </div>
    </div>
</nav>  -->


<button (click)="clickAddEmployee()"type="button" class="btn btn-outline-primary mb-2 me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Add User</button>


<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Job Title</th>
            <th scope="col">Action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData" >
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.title}} </td>
            <td>
                <button (click)="onEdit(row)" style="color:aliceblue" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> Edit</button>
                <button (click) = "deleteEmployee(row)"class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table> 


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
       
        <div class="modal-body">


            <form [formGroup] = "formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Full Name</label>
                  <input type="text" formControlName="firstName"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Job Title</label>
                  <input type="text" formControlName="title"class="form-control" id="validationCustom05" required>
                  
                  <div class="invalid-feedback">
                    key in a name.
                  </div>
                </div>                
              </form>

          
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd"(click)="postEmployeeDetails()"class="btn btn-primary">Add User</button>
          <button type="button" *ngIf="showUpdate"(click)="updateEmployeeDetails()"class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
  